@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Rom's Movie List'</h1>
    <p>Here lies stored a comprehensive list of every movie I have seen this year, different categories, and scores for those categories. Along with a description.
</p>
</div>