@{
   ViewData["Title"] = "Gist of the Site";
}
<h1>@ViewData["Title"]</h1>

<p>This is a site for storing scores and opinions on movies I've seen to make a custom list of what I've seen and what I have not.
</p>
